@font-face {
    font-family: "Cocogoose Bold";
    src: url('../ressources/Cocogoose_Pro.ttf');
}

@font-face {
    font-family: "Cocogoose Light";
    src: url('../ressources/Cocogoose_Light.ttf');
}

@font-face {
    font-family: "Comfortaa";
    src: url("../ressources/Comfortaa.ttf");
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate(10%, -14%);
    }
    100% {
        opacity: 1;
        transform: translate(0%, -14%);
    }
}

@keyframes article-in {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes upping-in {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-10%);
    }
}
@keyframes upping-out {
    0% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0%);
    }
}

div#headerOption {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: white;
    display: inline-flex;
    margin-left: 20px;
    width: 5px;
    height: 28px;
    transform: translateY(-18%);
}

h1#pageTitle {
    margin-left: 20px;
    font-family: "Cocogoose Bold";
    font-size: 35px;
    color: white;
    display: inline-flex;
    transform: translate(0%, -14%);
    animation: fade-in 400ms ease-in-out forwards;
}

div#page {
    padding-top: 80px;
}

h2#pageTitleLeft {
    font-size: 32px;
    font-family: "Cocogoose Bold";
    background: linear-gradient(15deg, rgb(24, 232, 217) 20%, rgb(94, 122, 233) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(15deg, rgb(24, 232, 217) 0%, rgb(94, 122, 233) 100%);
    border-bottom-width: 5px;
    margin-top: 80px;
    margin-bottom: 10px;
    padding-left: 10px;
}

h2#pageTitleRight {
    text-align: right;
    font-size: 32px;
    font-family: "Cocogoose Bold";
    background: linear-gradient(15deg, rgb(24, 232, 217) 20%, rgb(94, 122, 233) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(15deg, rgb(24, 232, 217) 0%, rgb(94, 122, 233) 100%);
    border-bottom-width: 5px;
    margin-top: 80px;
    margin-bottom: 10px;
    padding-right: 10px;
}

p#description {
    font-size: 16px;
    font-family: "Comfortaa";
    color: white;
    margin: 1vw;
    display: inline-block;
}
p#descriptionOption {
    font-size: 16px;
    font-family: "Comfortaa";
    color: white;
    padding-left: 4vw;
    margin-right: 1vw;
    margin-left: 1vw;
    display: inline-block;
}

a#redirection {
    font-size: 16px;
    font-family: "Comfortaa";
    background: linear-gradient(15deg, rgb(24, 232, 217) 20%, rgb(94, 122, 233) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1vw;
    display: inline-block;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-image-slice: 1;
    border-image-source: linear-gradient(15deg, rgb(24, 232, 217) 20%, rgb(94, 122, 233) 60%);
    animation: upping-out 200ms ease-in-out forwards;
}
a#redirection:hover {
    animation: upping-in 200ms ease-in-out forwards;
}

img#illustration {
    width: 17vw;
    display: inline-block;
}

div#insideLeft {
    background: rgba(0, 0, 0, 0);
    width: 80vw;
    display: inline-block;
}

div#articleModule {
    background: rgba(0, 0, 0, 0);
    animation: article-in 500ms ease-in-out forwards;
}

div#space {
    height: 20vh;
}