@font-face
{
    font-family: "custom";
    src: url("../font.otf");
}

body
{
    margin: 0px;
    padding: 0px;
}

div#title
{
    width: 42vw;
    height: 10vh;
    margin-left: 29vw;
    text-align: center;
    border: solid;
    border-width: 1vh;
    border-image-source: linear-gradient(35deg, rgba(252,0,255,1) 0%, rgba(0,219,222,1) 100%);
    border-image-slice: 1;
}

h1#title
{
    font-size: 6.5vh;
    font-family: "custom";
    transform: translateY(-40%);
    background: linear-gradient(35deg, rgba(252,0,255,1) 0%, rgba(0,219,222,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p
{
    font-size: 2.5vh;
    font-family: "custom";
    background: linear-gradient(35deg, rgba(252,0,255,1) 0%, rgba(0,219,222,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr
{
    width: 99vw;
    height: 5px;
    background-image: linear-gradient(35deg, rgba(252,0,255,1) 0%, rgba(0,219,222,1) 100%);
    border-radius: 1vh;
    border: none;
}

h2
{
    font-size: 4vh;
    font-family: "custom";
    margin: 0px;
    margin-top: 2vh;
    background: linear-gradient(35deg, rgba(252,0,255,1) 0%, rgba(0,219,222,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div#links
{
    text-align: center;
    width: 50vw;
    margin-left: 25vw;
}

a
{
    font-family: "custom";
    font-size: 2.5vh;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 1vh;
    padding-right: 1vh;
    text-decoration: none;
    border-bottom: solid;
    border-width: 0.5vh;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 2vh;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    transition: border-color 200ms ease-in-out;
}

a:hover
{
    border-color: white;
}

div#space
{
    width: 10vw;
    height: 10vh;
}