div#connexion-panel-div {
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 10px;
    box-shadow: var(--shadow-strong);
    height: max-content;
    width: max-content;
    position: absolute;
    right: 20px;
    top: 42px;
    border: solid 2px var(--color-grey-light);
    transform: translate(45%, -55%) scale(0, 0);
    transition: transform var(--animation-length-quick) var(--animation-ease);
}

div#connexion-console-container {
    overflow: hidden;
}