:root {
    --color-primary-1: #2896CD;
    --color-primary-2: #1FA8C2;
    --color-primary-3: #16BCB7;
    --color-primary-4: #0DD0AC;
    --color-primary-5: #04E4A1;
    --color-grey-light: #E0E0E0;
    --color-grey-normal: #707070;
    --color-grey-dark: #404040;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gradient: linear-gradient(90deg, var(--color-primary-1), var(--color-primary-5));
    --color-brightness: 0.2;

    --text-border-shadow: 0px 0px 30px rgba(0,0,0,.6),
    3px 0 0 #404040, -3px 0 0 #404040, 0 3px 0 #404040, 0 -3px 0 #404040,
    2px 2px #404040, -2px -2px 0 #404040, 2px -2px 0 #404040, -2px 2px 0 #404040;;

    --shadow: 0px 0px 20px rgba(0,0,0,.1);
    --shadow-strong: 0px 0px 30px rgba(0,0,0,.3);

    --animation-length-quick: 250ms;
    --animation-length-normal: 500ms;
    --animation-length-slow: 1000ms;
    --animation-ease: cubic-bezier(.5,0,0,1);

    --header-option-scale: 0;
    --header-button-scale: 0;
    --header-banner-height: 50px;

    --luminosity: 0.1;
    
    --border-radius: 4px;
    --border-width: 2px;
}

@font-face {
    font-family: "Roboto bold";
    src: url("./resources/fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
    font-family: "Roboto medium";
    src: url("./resources/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto light";
    src: url("./resources/fonts/Roboto/Roboto-Light.ttf");
}

@keyframes headerOptionIn {
    0% {
        transform: translate(-80px, 0px) rotate(-45deg) scale(0);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg) scale(1);
    }
}

@keyframes logo-rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: linear-gradient(var(--color-primary-5), var(--color-primary-1));
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.4);
    border-top: solid 2px #202020;
    border-bottom: solid 2px #202020;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,.6);
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    margin-bottom: 50px;
    background-color: var(--color-white);
    transition: background-color var(--animation-length-quick) var(--animation-ease);
}

/***************************
*                          *
*       LOADING LOGO       *
*                          *
***************************/

div#main-loading-container {
    background-color: var(--color-white);
    position: fixed;
    top: 0px; bottom: 0px;
    right: 0px; left: 0px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity var(--animation-length-slow) var(--animation-ease);
}

div#main-page-container {
    z-index: 2;
    background-color: var(--color-white);
    min-height: 80vh;
    transition: background-color var(--animation-length-quick) var(--animation-ease);
}

img#main-loading-logo {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    animation: logo-rotate var(--animation-length-slow) var(--animation-ease) infinite;
    height: 80px;
    filter: brightness(var(--color-brightness));
    transition: transform var(--animation-length-slow) var(--animation-ease);
}

h2#main-loading-info {
    font-family: "Roboto bold";
    font-size: 18px;
    color: var(--color-grey-dark);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

div.in-progress {
    text-align: center;
}
p.in-progress {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: "Roboto bold";
    color: var(--color-grey-dark);
}
img.in-progress {
    filter: brightness(var(--color-brightness));
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    height: 380px;
}