@font-face {
    font-family: "Cocogoose_bold";
    src: url("./ressources/Cocogoose_Pro.ttf");
}
@font-face {
    font-family: "Cocogoose_light";
    src: url("./ressources/Cocogoose_Light.ttf");
}
@font-face {
    font-family: "Comfortaa";
    src: url("./ressources/Comfortaa.ttf");
}
@font-face {
    font-family: "Lemon";
    src: url("./ressources/Lemon-Regular.ttf");
}

@keyframes fade-in {
    0% {
        filter: opacity(0);
    }
    100% {
        filter: opacity(1);
    }
}

body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: rgb(20, 20, 20);
}

div#header {
    z-index: 10;
    text-align: left;
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color:rgb(40, 40, 40);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px 5px;
    transform: translateY(0%);
    transition: transform 200ms ease-in-out;
    animation: fade-in 200ms ease-in-out forwards;
}

div#icon {
    margin: 2px;
    width: 162px;
    height: 56px;
    display: inline-block;
    transform: translateY(-16%);
}

img#icon {
    margin: 4px;
    width: 160px;
    height: 48px;
}

div#menu {
    margin-left: 20px;
    height: 56px;
    display: inline-block;
    transform: translateY(0%);
}

div#menuOption {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 24px;
    text-align: center;
}

a#menuOption {
    margin: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-family: "Lemon";
    font-size: 20px;
    text-decoration: none;
    background: linear-gradient(0deg, rgb(24, 232, 217) 0%, rgb(94, 122, 233) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


a#menuOption::after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background: linear-gradient(5deg, rgb(59, 232, 217) 0%, rgb(94, 122, 233) 100%);
    transition: width 100ms;
}

a#menuOption:hover::after {
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}