@font-face {
    font-family: "Cocogoose_bold";
    src: url("./ressources/Cocogoose_Pro.ttf");
}
@font-face {
    font-family: "Cocogoose_light";
    src: url("./ressources/Cocogoose_Light.ttf");
}
@font-face {
    font-family: "Comfortaa";
    src: url("./ressources/Comfortaa.ttf");
}

h2#panneau {
    padding-top: 1vw;
    font-size: 2vw;
    font-family: "Cocogoose_bold";
}

h3#tuile {
    font-size: 1.3vw;
    font-family: "Cocogoose_light";
}

p#tuile {
    font-size: 1vw;
    font-family: "Comfortaa";
}

div#panneau {
    width: 52vw;
    height: 20vw;
    margin: 0px;
    padding: 0px;
    text-align: center;
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 5px;
}

div#tuile {
    width: 20vw;
    height: 12vw;
    margin: 1vw 3vw;
    padding: 0px;
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 5px;
}

div#titleDIV {
    width: 50vw;
    height: 4vw;
    display: block;
    margin: 1vw;
    padding: 0px;
}

div#contentDIV {
    width: 58vw;
    height: 14vw;
    display: block;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
}