.button
{
    color: var(--color-dark);
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    animation: button-hover-out var(--animation-medium) var(--animation-ease) forwards;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 10px var(--color-shadow-light);
    background: var(--color-transparent);
    user-select: none;
    -moz-user-select: none;
    outline: none;
    padding: 2px 12px;
    font-size: 16px;
    font-family: "Roboto medium";
}
.button:hover
{animation: button-hover-in var(--animation-medium) var(--animation-ease) forwards;}

.label
{
    color: var(--color-dark);
    margin: 0px;
    font-size: 16px;
    font-family: "Roboto bold";
    outline: none;
    margin-bottom: 2px;
}

.input
{
    color: var(--color-dark);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 10px var(--color-shadow-light) inset;
    background: var(--color-transparent);
    outline: none;
    margin: 0px;
    padding: 2px 5px;
    font-size: 16px;
    font-family: "Roboto medium";
}

.blurbox
{
    background: url("./resources/pics/backblur.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
    box-shadow: 0px 0px 10px var(--color-shadow-strong);
    border-radius: var(--border-radius);
}

.box
{
    background: var(--color-transparent);
    box-shadow: 0px 0px 10px var(--color-shadow-strong);
    border-radius: var(--border-radius);
}