@keyframes wave
{
    0% {transform: translateY(2%);}
    50% {transform: translateY(-2%);}
    100% {transform: translateY(2%);}
}

@keyframes bottom-slide
{
    0% {transform: translateY(20%); opacity: 0;}
    100% {transform: translateY(0%); opacity: 1;}
}
@keyframes top-slide
{
    0% {transform: translateY(-20%); opacity: 0;}
    100% {transform: translateY(0%); opacity: 1;}
}
@keyframes left-slide
{
    0% {transform: translateX(20%); opacity: 0;}
    100% {transform: translateX(0%); opacity: 1;}
}
@keyframes right-slide
{
    0% {transform: translateX(-20%); opacity: 0;}
    100% {transform: translateX(0%); opacity: 1;}
}

.bottom-slide-slow
{
    animation: bottom-slide 4s var(--transition-ease-out) forwards;
}
.bottom-slide-normal
{
    animation: bottom-slide 2s var(--transition-ease-out) forwards;
}
.bottom-slide-quick
{
    animation: bottom-slide 1s var(--transition-ease-out) forwards;
}
.top-slide-slow
{
    animation: top-slide 4s var(--transition-ease-out) forwards;
}
.top-slide-normal
{
    animation: top-slide 2s var(--transition-ease-out) forwards;
}
.top-slide-quick
{
    animation: top-slide 1s var(--transition-ease-out) forwards;
}
.right-slide-slow
{
    animation: right-slide 4s var(--transition-ease-out) forwards;
}
.right-slide-normal
{
    animation: right-slide 2s var(--transition-ease-out) forwards;
}
.right-slide-quick
{
    animation: right-slide 1s var(--transition-ease-out) forwards;
}
.left-slide-slow
{
    animation: left-slide 4s var(--transition-ease-out) forwards;
}
.left-slide-normal
{
    animation: left-slide 2s var(--transition-ease-out) forwards;
}
.left-slide-quick
{
    animation: left-slide 1s var(--transition-ease-out) forwards;
}