html {
    scroll-behavior: smooth;
}

body
{
    background: var(--gradient-black);
    margin: 0px;
    padding: 0px;
}

div#page
{
    margin: 0px;
    padding: 0px;
    width: inherit;
    height: inherit;
}

div#header-container
{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: var(--color-black-light-transparent);
    border-bottom: solid;
    border-width: 2px;
    border-image: var(--gradient-yellow);
    border-image-slice: 1;
    width: 100vw;
    height: 60px;
    display: inline-flex;
    opacity: 0;
    z-index: 5;
    top: 0px;
    left: 0px;
    position: fixed;
}

img#header-icon
{
    width: 60px;
    height: 60px;
    animation: wave 2s ease-in-out infinite;
}

h1#header-title
{
    background: var(--gradient-yellow);
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: fit-content;
    margin-left: 10px;
    font-size: 35px;
    margin-top: 10px;
    font-family: "Roboto black";
}

div#header-separator
{
    width: 2px;
    background-color: var(--color-yellow-light);
    margin: 10px 30px;
}

h2#header-button
{
    background: var(--gradient-yellow);
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    margin-right: 40px;
    margin-top: 23px;
    margin-bottom: 14px;
    font-family: "Roboto regular";
    border-bottom: solid;
    border-color: var(--color-yellow-light);
    border-width: 0px;
    border-radius: 0px;
    transition: border-width 0.1s var(--transition-smooth), border-radius 0.1s var(--transition-smooth);
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}
h2#header-button:hover
{
    border-width: 2px;
    border-radius: 2px;
}

div#content
{
    width: inherit;
    min-height: 100vh;
}

div#head-pic
{
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url("./ressources/branding_back.png");
    background-size: cover;
}

div#branding
{
    width: fit-content;
    height: fit-content;
    margin-left: 60px;
    margin-top: 200px;
    opacity: 0;
    display: inline-block;
}

h1#main-title
{
    font-family: "Roboto black";
    font-size: 150px;
    margin: 0px;
    padding: 0px;
    background: var(--gradient-yellow);
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2#main-subtitle
{
    font-family: "Roboto black";
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    transform: translate(7px, -40px);
    background: var(--gradient-yellow);
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div#more-button-container
{
    width: 100vw;
    height: fit-content;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s var(--transition-ease-out);
    position: absolute;
    bottom: 100px;
}

div#more-button-div
{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: var(--color-black-light-transparent);
    margin-left: 50vw;
    border: solid;
    border-width: 2px;
    border-color: var(--color-yellow-light);
    border-radius: 40px;
    padding: 0px 40px;
    width: fit-content;
    cursor: pointer;
    transform: translate(-50%, 0%);
    transition: border-color 0.5s var(--transition-ease-out), transform 0.5s var(--transition-ease-out)
    , padding 0.5s var(--transition-ease-out), bakground-color 0.5s var(--transition-ease-out);
}
div#more-button-div:hover
{
    border-color: var(--color-yellow);
    background-color: var(--color-yellow-light-transparent);
    transform: translate(-50%, -15%);
    padding: 0px 50px;
}

p#more-button-text
{
    font-family: "Roboto medium";
    font-size: 16px;
    background: var(--gradient-yellow);
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: color 0.5s var(--transition-ease-out);
}
p#more-button-text:hover
{
    color: var(--color-yellow);
}

div#ip-container
{
    width: 100vw;
    height: fit-content;
    position: absolute;
    top: 60%;
    opacity: 0;
}

div#ip-div
{
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    border: solid;
    border-width: 2px;
    border-color: var(--color-yellow);
    border-radius: 10px;
    position: absolute;
    right: 140px;
    display: inline-flex;
}

p#ip-text
{
    font-family: "Roboto bold";
    font-size: 30px;
    color: var(--color-yellow);
    margin: 0px;
    user-select: none;
    -moz-user-select: none;
}

p#ip-value
{
    font-family: "Roboto bold";
    font-size: 30px;
    color: var(--color-yellow-light);
    margin: 0px 10px;
    user-select: none;
    -moz-user-select: none;
    transition: color 0.5s var(--transition-ease-out), transform 0.5s var(--transition-ease-out);
}
p#ip-value:hover
{
    color: var(--color-yellow);
    transform: translateY(-5%);
}