@font-face
{
    font-family: "custom";
    src: url("../font.otf");
}

body
{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

div#titleDIV
{
    width: 40vw;
    height: 10vh;
    margin-left: 30vw;
    text-align: center;
    border: solid;
    border-width: 1vh;
    border-image-source: linear-gradient(35deg, rgba(252,0,255,1) 0%, rgba(0,219,222,1) 100%);
    border-image-slice: 1;
    border-radius: 2vh;
}

h1#title
{
    font-size: 7vh;
    transform: translateY(-50%);
    font-family: "custom";
    background: linear-gradient(35deg, rgba(252,0,255,1) 0%, rgba(0,219,222,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2
{
    font-size: 4vh;
    transform: translateY(-70%);
    font-family: "custom";
    background: linear-gradient(35deg, rgba(252,0,255,1) 0%, rgba(0,219,222,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p
{
    font-size: 3vh;
    font-family: "custom";
    background: linear-gradient(35deg, rgba(252,0,255,1) 0%, rgba(0,219,222,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}