::-webkit-scrollbar
{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

:root
{
    --transition-linear: cubic-bezier(0.4 0.4 0.6 0.6);
    --transition-smooth: cubic-bezier(.8,0,.2,1);
    --transition-bounce: cubic-bezier(.7,-0.4,.3,1.4);
    --transition-ease-out: cubic-bezier(.2,.0, 0, 1);

    --color-yellow: #F39C12;
    --color-yellow-light: #F1C40F;
    --color-black: #2C3E50;
    --color-black-light: #34495E;
    --color-white: #BDC3C7;
    --color-white-light: #ECF0F1;

    --color-black-light-transparent: rgba(52, 73, 94, 0.4);
    --color-yellow-light-transparent: rgba(241,196,15, 0.2);

    --gradient-black: linear-gradient(135deg, rgba(52,73,94,1) 0%, rgba(44,62,80,1) 100%);
    --gradient-yellow: linear-gradient(135deg, rgba(241,196,15,1) 0%, rgba(243,156,18,1) 100%);
}

@font-face
{
    src: url("./ressources/Roboto-Black.ttf");
    font-family: "Roboto black";
}
@font-face
{
    src: url("./ressources/Roboto-Bold.ttf");
    font-family: "Roboto bold";
}
@font-face
{
    src: url("./ressources/Roboto-Medium.ttf");
    font-family: "Roboto medium";
}
@font-face
{
    src: url("./ressources/Roboto-Regular.ttf");
    font-family: "Roboto regular";
}
@font-face
{
    src: url("./ressources/Roboto-light.ttf");
    font-family: "Roboto light";
}
@font-face
{
    src: url("./ressources/DenkOne-Regular.ttf");
    font-family: "Beecraft";
}