div#dialogs-container
{
    width: 100vw;
    height: fit-content;
    background-color: var(--color-white-light);
    z-index: 4;
    text-align: center;
    overflow: hidden;
}

div#dialog-div
{
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    margin-top: 0vh;
    opacity: 0;
}

div#dialog-left-panel, div#dialog-right-panel
{
    width: fit-content;
    min-width: 20vw;
    text-align: center;
    margin: 4vh 6vw;
}

h3#dialog-title
{
    font-size: 30px;
    font-family: "Roboto bold";
    color: var(--color-black-light);
}
div#dialog-subtitle-div
{
    width: 40vw;
    height: fit-content;
    padding: 10px;
}
p#dialog-subtitle-text
{
    margin: 0px;
    font-size: 20px;
    font-family: "Roboto light";
    color: var(--color-black);
}

img#dialog-icon
{
    width: 200px;
    height: 200px;
    position: relative;
    top: 8%;
}
p#dialog-info
{
    display: none;
}

.dialog
{
    /* class to get all the dialogs un js*/
    width: fit-content;
}