div#subject-container
{
    width: 100%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
    margin-bottom: 80px;
}

div#subject-title-container
{
    width: 100%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
    background: url("../resources/pics/backblur.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

h2#subject-title-text
{
    font-size: 20px;
    text-align: center;
    padding: 2px 0px;
    margin: 0px;
    width: 100%;
}

div#subject-tile-container
{
    width: 100%;
    height: fit-content;
    margin: 0px;
    margin-top: 6px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
}

div#tile-container
{
    width: inherit;
    height: fit-content;
    min-height: 200px;
    margin: 4px 20px;
    padding: 0px;
    background: url("../resources/pics/backblur.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

h3#tile-title
{
    text-align: center;
    font-size: 18px;
    padding: 4px 0px;
    margin: 0px;
    width: 100%;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

p#description
{
    font-size: 16px;
    text-align: center;
    margin: 4px;
    padding: 4px;

}