div#credits-container {
    position: fixed;
    height: 0px; width: 0px;
    z-index: 20;
    text-align: center;
}

div#credits-arrow {
    z-index: 20;
    position: fixed;
    top: 0px; right: -10px;
    background-color: #0008;
    background-image: url("./resources/images/arrow_left.svg");
    background-size: 8vh 8vh;
    background-repeat: no-repeat;
    background-position: center;
    height: 8vh; width: 8vh;
    border: solid 2px white;
    border-top-left-radius: 4vh;
    border-bottom-left-radius: 4vh;
    cursor: pointer;
    transition: left 200ms ease;
}

div#credits-content {
    position: fixed;
    top: 0px; left: 100vw;
    height: 100vh; width: 100vw;
    background-color: #000B;
    border-left: solid 2px white;
    transition: left 200ms ease;
}

p#credits-title {
    margin: 10px auto; padding: 10px 20px;
    border: solid 2px white;
    height: fit-content; width: fit-content;
    border-radius: 8px;
    font-family: "Roboto";
    font-size: 5vh;
    user-select: none;
    -moz-user-select: none;
    color: white;
}

div#credits-names {
    display: inline-flex;
    justify-content: space-evenly;
    height: fit-content;
    width: 100%;
}

p.credits-name {
    margin: 10px 4px; padding: 10px 20px;
    border: solid 2px white;
    height: fit-content; width: fit-content;
    border-radius: 8px;
    font-family: "Roboto";
    font-size: 24px;
    color: white;
    cursor: pointer;
    transform: none;
    user-select: none;
    -moz-user-select: none;
    transition: transform 200ms ease, background-color 200ms ease;
}

iframe#credits-visu {
    width: 90vw;
    height: 75vh;
    opacity: 1;
    background-color: #122334;
    border: solid 2px white;
    border-radius: 8px;
    transition: opacity 200ms ease;
}