body {
    margin: 0px; padding: 0px;
    background-color: black;
    overflow: hidden;
}

div#main-container {
    transform: none;
    height: 100vh;
    margin: 0px; padding: 0px;
    display: block;
    filter: brightness(1);
    transition: filter 200ms ease, transform 200ms ease;
}

@font-face {
    src: url("./resources/fonts/Roboto-Medium.ttf");
    font-family: "Roboto";
}

div#loading-page {
    width: 100vw;
    height: 100vh;
    top: 0px; left: 0px;
    position: fixed;
    display: block;
    transition: left 200ms ease;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 11;
}

p#loading-text {
    text-align: center;
    font: "Roboto";
    font-size: 40px;
    transition: transform 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

div#loading-bar-container {
    width: 40%;
    margin-left: 30%;
    height: 4px;
    border-radius: 2px;
    background-color: darkslategray;
}
div#loading-bar-div {
    width: 0%;
    height: 100%;
    border-radius: 2px;
    background-color: white;
    transition: width 200ms ease;
}