body
{
    margin: 0px;
    padding: 0px;
}

div#title
{
    width: 40vw;
    height: 60px;
    margin-left: 30vw;
    text-align: center;
    border: solid;
    border-width: 1vh;
    border-color: white;
    border-radius: 2vh;
}

h1#title
{
    font-size: 6.5vh;
    font-family: "helvetica";
    transform: translateY(-40%);
    color: white;
}

hr
{
    width: 99vw;
    height: 5px;
    background-color: white;
    border-radius: 1vh;
}

h2
{
    font-size: 4vh;
    font-family: "helvetica";
    color: white;
    margin: 0px;
    margin-top: 2vh;
}

div#links
{
    text-align: center;
    width: 40vw;
    margin-left: 30vw;
}

a
{
    margin-left: 2vw;
    margin-right: 2vw;
    text-decoration: none;
    border-bottom: solid;
    border-width: 0.1vh;
    border-color: white;
    color: white;
}