div#welcome-banner
{
    text-align: center;
    position: relative;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 10px var(--shadows);
    display: inline-flex;
    width: 100vw;
    height: 40px;
    border-bottom: solid;
    border-width: 2px;
    border-image: var(--gradient);
    border-image-slice: 1;
}

p#welcome-text
{
    background: var(--gradient);
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Roboto bold";
    font-size: 25px;
    margin: 0px;
    margin-left: 10px;
    margin-top: 5px;
    width: inherit;
    text-align: left;
}
p#votes-counter
{
    background: var(--gradient);
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Roboto regular";
    font-size: 15px;
    margin: 0px;
    margin-right: 10px;
    margin-top: 10px;
    width: inherit;
    text-align: right;
}
a#vote-for-server
{
    background: var(--gradient);
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Roboto bold";
    font-size: 15px;
    margin: 0px;
    margin-right: 50px;
    margin-top: 10px;
    width: fit-content;
    text-align: right;
    border-bottom: solid;
    border-image: var(--gradient);
    border-image-slice: 1;
    border-width: 2px;
    height: fit-content;
}
a#vote-for-server:hover
{
    border-image: var(--gradient_dark);
    border-image-slice: 1;
    background: var(--gradient_dark);
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

div#connection-div
{
    width: max-content;
    height: fit-content;
    margin: 5px;
    padding: 0px 3px;
    padding-bottom: 3px;
    background: var(--gradient);
    border-radius: 6px;
}

div#connection-inside-div
{
    width: max-content;
    height: 24px;
    margin: 0px;
    padding: 0px;
    padding-right: 6px;
    border-radius: 4px;
    background-color: var(--color-back);
}

p#connection-text
{
    font-family: "Roboto bold";
    font-size: 19px;
    background-image: var(--gradient);
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    margin: 0px;
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: max-content;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    transition: background-image 0.25s var(--transition-type);
}
p#connection-text:hover
{
    background-image: var(--gradient_dark);
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 1279px)
{
    p#votes-counter {font-size: 20px; margin-top: 13px;}
    p#welcome-text {margin-top: 10px;}
    div#welcome-banner {height: 50px;}
    div#connexion-div {height: 35px;}
    div#connection-inside-div {height: 34px;}
    p#connection-text {font-size: 30px;}
    a#vote-for-server {margin-top: 15px;}
}

div#connection-container
{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    opacity: 0;
    display: none;
    transition: opacity 0.25s var(--transition-type);
    text-align: center;
}

div#connection-box
{
    border-radius: 10px;
    background-color: transparent;
    width: fit-content;
    height: 30vh;
    margin-top: 20vh;
    display: inline-block;
    text-align: left;
    transform: translateY(-25vh);
    transition: transform 0.25s var(--transition-type);
}

div#connection-content
{
    border: solid;
    border-color: var(--color-main-dark);
    border-width: 2px;
    background: var(--gradient);
    padding: 10px 20px;
    box-shadow: 0px 0px 20px var(--shadows);
}

div#connection-buttons
{
    display: table;
    margin-top: 40px;
}

input#connection-enter-button, input#connection-back-button, input#connection-deco-button
{
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    background-color: var(--color-yellow);
    box-shadow: 0px 0px 15px var(--shadows);
    border-radius: 8px;
    border: solid;
    border-width: 2px;
    border-color: var(--color-main-dark);
    margin: 10px;
    font-family: "Roboto regular";
    font-size: 15px;
    outline: none;
    transition: box-shadow 0.25s var(--transition-type), background-color 0.25s var(--transition-type);
    color: var(--color-main-darker);
}
input#connection-enter-button:hover, input#connection-back-button:hover, input#connection-deco-button:hover
{
    box-shadow: 0px 1px 10px var(--shadows);
    background-color: var(--color-yellow_dark);
}

div#connection-deco-div
{
    width: inherit;
    text-align: center;
}

div#connection-choose-box
{
    background-color: transparent;
}

input#connection-connect-button, input#connection-inscrit-button
{
    background: var(--gradient);
    border: solid;
    border-color: var(--color-main-dark);
    border-width: 2px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 0px;
    padding: 20px 0px;
    outline: none;
    font-family: "Roboto regular";
    font-size: 15px;
    width: 200px;
}
input#connection-inscrit-button
{
    background: var(--gradient_dark);
}

div#connection-div-pseudo
{
    height: 80px;
    overflow: hidden;
    transition: height 0.25s var(--transition-type);
}

input#connection-password, input#connection-email, input#connection-pseudo
{
    border-radius: 10px;
    outline: none;
    border: solid;
    border-width: 2px;
    border-color: var(--color-main-dark);
    padding: 5px;
    font-size: 12px;
    font-family: "Roboto regular";
    color: var(--color-main-dark);
    box-shadow: inset 0px 0px 5px var(--shadows);
    background-color: var(--color-yellow);
}

p#connection-info
{
    font-family: "Roboto regular";
    font-size: 15px;
    color: var(--color-main-dark);
}

p#connection-log
{
    font-family: "Roboto regular";
    font-size: 15px;
    color: var(--color-main-dark);
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: height 0.25s var(--transition-type);
}

@media (max-width: 1279px)
{
    input#connection-enter-button, input#connection-back-button, input#connection-deco-button {font-size: 40px;}
    input#connection-connect-button, input#connection-inscrit-button {font-size: 40px; width: 400px;}
    input#connection-password, input#connection-email, input#connection-pseudo {font-size: 30px;}
    p#connection-info {font-size: 30px;}
    p#connection-log {font-size: 30px;}
}