div#header-spacer
{
    height: 80px;
    width: 100vw;
    display: none;
    background-color: var(--color-back);
}

div#header-div {
    background: var(--gradient);
    position: relative;
    top: 0px;
    width: 100vw;
    height: 80px;
    z-index: 1;
    display: inline-flex;
    box-shadow: 0px 10px 10px var(--shadows);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
div#header-content
{
    display: inline-flex;
    z-index: 1;
    width: inherit;
    background-color: var(--color-back);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 5px;
}

@media (max-width:1279px)
{ 
    div#header-options
    {
        display: block;
        width: fit-content;
        height: 70px;
        overflow: hidden;
        padding-right: 120px;
        background-color: var(--color-back);
        transition: height 200ms ease-in-out;
    }
    img#header-toogle
    {
        margin-top: 12px;
        height: 60px;
        cursor: pointer;
    }
}
@media (min-width:1280px)
{ 
    div#header-options
    {
        display: inline-flex;
        width: fit-content;
        overflow: visible;
        height: 80px;
    }
    img#header-toogle
    {
        height: 80px;
        cursor: pointer;
        display: none;
    }
}

img#header-icon
{
    margin: 11.5vw 0px;
    width: 60px;
    height: 60px;
    margin: 13px 5px;
    margin-right: 40px;
}

/*h1#header-title
{
    user-select: none;
    margin: 25px 5px;
    margin-bottom: 20px;
    margin-right: 50px;
    height: 35px;
    font-family: "Roboto regular";
    font-size: 30px;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 0px 2px #000);
}*/

h2#header-button
{
    margin-left: 40px;
    margin-top: 28px;
    top: 0px;
    left: 0px;
    padding: 0px 0px;
    width: fit-content;
    font-family: "Roboto regular";
    background: var(--gradient);
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    border-bottom: solid;
    border-width: 0px;
    border-image: var(--gradient);
    border-image-slice: 1;
    transition: border-width 70ms ease-in-out;
    user-select: none;
}
h2#header-button:hover
{
    border-width: 3px;
}

div#ip-container
{
    width: inherit;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
}

div#ip-adress
{
    width: fit-content;
    height: inherit;
    margin: 10px;
    padding: 0px 10px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

p#ip-adress
{
    font-family: "Roboto regular";
    font-size: 20px;
    background: var(--gradient);
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    -moz-user-select: none;
}

p#ip-value
{
    margin-left: 5px;
    font-family: "Roboto regular";
    font-size: 20px;
    background: var(--gradient);
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    -moz-user-select: none;
    transition: color 200ms ease-in-out;
    cursor: pointer;
}
p#ip-value:hover
{
    background: var(--gradient_dark);
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1279px)
{
    p#ip-value {font-size: 30px;}
    p#ip-adress {font-size: 30px;}
}