body
{
    margin: 0px;
    padding: 0px;
    background-color: var(--color-back);
}

/* width */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/********************************************************
 *                       COLORS                         *
 * http://paletton.com/#uid=11j0u0kyQuCgqVCoNGZzhkCHzbj *
 ********************************************************/
:root
{
    --color-back: #2c3e50;
    --gradient: linear-gradient(90deg, rgba(241,196,15,1) 0%, rgba(243,156,18,1) 100%);
    --gradient_dark: linear-gradient(90deg, rgba(200,163,13,1) 0%, rgba(209,134,16,1) 100%);
    --shadows: rgba(0, 0, 0, 0.2);
    --transition-type: cubic-bezier(0.80, 0, 0.20, 1);
}

/********************************
 *            FONTS             *
 ********************************/
@font-face {
    src: url("./ressources/Fonts/Roboto-Medium.ttf");
    font-family: "Roboto regular";
}
@font-face {
    src: url("./ressources/Fonts/Roboto-Bold.ttf");
    font-family: "Roboto bold";
}
@font-face {
    src: url("./ressources/Fonts/Roboto-Light.ttf");
    font-family: "Roboto light";
}
@font-face {
    src: url("./ressources/Fonts/Roboto-Italic.ttf");
    font-family: "Roboto italic";
}
@font-face {
    src: url("./ressources/DenkOne-Regular.ttf");
    font-family: "BeeCraft";
}


/********************************
 *          ANIMATIONS          *
 ********************************/

@keyframes wave
{
    0% {transform: translateY(-5%);}
    50% {transform: translateY(0%);}
    100% {transform: translateY(-5%);}
}

/********************************
 *           ELEMENTS           *
 ********************************/

div#page
{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    filter: none;
    transition: filter 0.25s var(--transition-type);
}
@media (max-width: 1279px)
{
    div#page {transition: none;}
}

div#title-image
{
    width: 100vw;
    height: 0vw;
    background-color: var(--color-back);
    align-items: center;
    justify-content: center;
    display: flex;
    transition: height 0.5s var(--transition-type);
    overflow: hidden;
}

img#title-icon
{
    margin: 11.5vw 0px;
    width: 6vw;
    filter: drop-shadow(0px 0px 10px var(--shadows));
    animation: wave 3s ease-in-out infinite;
    transition: width 0.5s var(--transition-type);
}

h1#title-text
{
    user-select: none;
    margin: 10.5vw 0px;
    font-family: "BeeCraft";
    opacity: 1;
    font-size: 6vw;
    background: var(--gradient);
    filter: drop-shadow(0px 0px 10px var(--shadows));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-5%);
    animation: wave 3s ease-in-out infinite;
    animation-delay: 0.4s;
    transition: opacity 0.25s var(--transition-type), font-size 0.25s var(--transition-type);
}

@media (max-width: 1279px)
{
    h1#title-text {font-size: 12vw;}
}

div#cont-back
{
    background-color: var(--color-back);
    height: fit-content;
    min-height: inherit;
    width: 100vw;
}

div#content
{
    text-align: center;
    min-height: 85vh;
    width: 100vw;
    display: flexbox;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: opacity 0.25s var(--transition-type);
}

div#footer-container
{
    margin-top: 80px;
    width: 100vw;
    height: fit-content;
}

div#footer-div
{
    border-top: solid;
    border-width: 3px;
    border-image: var(--gradient);
    border-image-slice: 1;
    width: 100vw;
    height: fit-content;
    padding: 2px 5px;
}

p#footer-text
{
    font-family: "Roboto regular";
    font-size: 12px;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0px;
    margin: 2px;
    user-select: none;
    -moz-user-select: none;
}