div#welcome-banner
{
    background: var(--gradient);
    text-align: center;
    position: relative;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 10px var(--shadows);
    display: inline-flex;
    width: 100vw;
    height: 40px;
}

p#welcome-text
{
    color: var(--color-main-darker);
    font-family: "Perso";
    font-size: 25px;
    margin: 0px;
    margin-left: 10px;
    margin-top: 5px;
    width: inherit;
    text-align: left;
}
p#votes-counter
{
    color: var(--color-main-darker);
    font-family: "Perso";
    font-size: 15px;
    margin: 0px;
    margin-right: 50px;
    margin-top: 10px;
    width: inherit;
    text-align: right;
}

div#connection-div
{
    width: max-content;
    height: 30px;
    margin: 5px;
    padding: 0px;
    padding-right: 8px;
    border-radius: 5px;
    background-color: var(--color-yellow);
    box-shadow: inset 0px 0px 5px var(--shadows);
}

p#connection-text
{
    font-family: "Perso";
    font-size: 20px;
    color: var(--color-main-darker);
    opacity: 1;
    margin: 0px;
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: max-content;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    transition: color 0.25s var(--transition-type);
}
p#connection-text:hover
{
    color: var(--color-blue);
}

div#connection-container
{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    opacity: 0;
    display: none;
    transition: opacity 0.25s var(--transition-type);
    text-align: center;
}

div#connection-box
{
    border-radius: 10px;
    background-color: transparent;
    width: fit-content;
    height: 30vh;
    margin-top: 20vh;
    display: inline-block;
    text-align: left;
    transform: translateY(-25vh);
    transition: transform 0.25s var(--transition-type);
}

div#connection-content
{
    border: solid;
    border-color: var(--color-main-dark);
    border-width: 2px;
    background: var(--gradient);
    padding: 10px 20px;
    box-shadow: 0px 0px 20px var(--shadows);
}

div#connection-buttons
{
    display: table;
    margin-top: 40px;
}

input#connection-enter-button, input#connection-back-button, input#connection-deco-button
{
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    background-color: var(--color-yellow);
    box-shadow: 0px 0px 15px var(--shadows);
    border-radius: 8px;
    border: solid;
    border-width: 2px;
    border-color: var(--color-main-dark);
    margin: 10px;
    font-family: "Perso";
    font-size: 15px;
    outline: none;
    transition: box-shadow 0.25s var(--transition-type), background-color 0.25s var(--transition-type);
    color: var(--color-main-darker);
}
input#connection-enter-button:hover, input#connection-back-button:hover, input#connection-deco-button:hover
{
    box-shadow: 0px 1px 10px var(--shadows);
    background-color: var(--color-yellow_dark);
}

div#connection-deco-div
{
    width: inherit;
    text-align: center;
}

div#connection-choose-box
{
    background-color: transparent;
}

input#connection-connect-button, input#connection-inscrit-button
{
    background: var(--gradient);
    border: solid;
    border-color: var(--color-main-dark);
    border-width: 2px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 0px;
    padding: 20px 0px;
    outline: none;
    font-family: "Perso";
    font-size: 15px;
    width: 100px;
}
input#connection-inscrit-button
{
    background: var(--gradient_dark);
}

div#connection-div-pseudo
{
    height: 80px;
    overflow: hidden;
    transition: height 0.25s var(--transition-type);
}

input#connection-password, input#connection-email, input#connection-pseudo
{
    border-radius: 10px;
    outline: none;
    border: solid;
    border-width: 2px;
    border-color: var(--color-main-dark);
    padding: 5px;
    font-size: 12px;
    font-family: "Perso";
    color: var(--color-main-dark);
    box-shadow: inset 0px 0px 5px var(--shadows);
    background-color: var(--color-yellow);
}

p#connection-info 
{
    font-family: "Perso";
    font-size: 15px;
    color: var(--color-main-dark);
}

p#connection-log
{
    font-family: "Perso";
    font-size: 15px;
    color: var(--color-main-dark);
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: height 0.25s var(--transition-type);
}