div#dialog
{
    background: var(--gradient);
    border-radius: 20px;
    width: 70vw;
    padding: 12px;
    margin-top: 50px;
    margin-left: 14vw;
    display: table;
    box-shadow: 0px 0px 10px var(--shadows);
}

@media (max-width: 1279px)
{
    div#dialog-question
    {
        min-width: 20vw;
        display: table-row;
        vertical-align: middle;
        height: inherit;
        background-image: url("./ressources/background_blur.png");
        background-size: cover;
        border-radius: 10px;
    }
}
@media (min-width: 1280px)
{
    div#dialog-question
    {
        min-width: 20vw;
        display: table-cell;
        vertical-align: middle;
        height: inherit;
        background-image: url("./ressources/background_blur.png");
        background-size: cover;
        border-radius: 10px;
    }
}
div#dialog-answer
{
    min-width: 35vw;
    height: fit-content;
    padding: 20px;
}

h3#dialog-title
{
    font-family: "Perso";
    font-size: 30px;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 0px 2px #000);
    animation: wave 2s ease-in-out infinite;
    user-select: none;
    -moz-user-select: none;
}

p#dialog-text
{
    font-family: "Perso";
    font-size: 16px;
    color: var(--color-main-darker);
    user-select: none;
    -moz-user-select: none;
}