body
{
    margin: 0px;
    padding: 0px;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/********************************************************
 *                       COLORS                         *
 * http://paletton.com/#uid=11j0u0kyQuCgqVCoNGZzhkCHzbj *
 ********************************************************/
:root
{
    --color-main: #000;
    --color-main-light: #000;
    --color-main-lighter: #000;
    --color-main-dark: #634b39;
    --color-main-darker: #453427;
    --color-blue: #0028b3;
    --color-orange: #ffb300;
    --color-yellow: #f1e711;
    --gradient: linear-gradient(90deg, rgba(241,231,17,1) 0%, rgba(255,179,0,1) 100%);
    --gradient_dark: linear-gradient(90deg, rgba(149,141,0,1) 0vw, rgba(149,105,0,1) 100vw);
    --shadows: rgba(0, 0, 0, 0.4);
    --transition-type: cubic-bezier(0.80, 0, 0.20, 1);
}

/********************************
 *            FONTS             *
 ********************************/
@font-face
{
    font-family: "BeeCraft";
    src: url("./ressources/DenkOne-Regular.ttf");
}
@font-face
{
    font-family: "Perso";
    src: url("./ressources/PoetsenOne-Regular.ttf");
}


/********************************
 *          ANIMATIONS          *
 ********************************/

@keyframes wave
{
    0% {transform: translateY(-5%);}
    50% {transform: translateY(0%);}
    100% {transform: translateY(-5%);}
}

/********************************
 *           ELEMENTS           *
 ********************************/

p#welcome-banner
{
    background: var(--gradient);
    color: var(--color-main-darker);
    font-family: "Perso";
    font-size: 25px;
    text-align: center;
    position: relative;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 10px var(--shadows);
}

div#title-image
{
    width: 100vw;
    height: 25vw;
    background-image: url("./ressources/background_blur.png");
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: height 0.5s var(--transition-type);
}

img#title-icon
{
    margin: 11.5vw 0px;
    width: 6vw;
    filter: drop-shadow(0px 0px 5px #000);
    animation: wave 3s ease-in-out infinite;
    transition: width 0.5s var(--transition-type);
}

h1#title-text
{
    user-select: none;
    margin: 10.5vw 0px;
    font-family: "BeeCraft";
    opacity: 1;
    font-size: 6vw;
    background: var(--gradient);
    filter: drop-shadow(0px 0px 5px #000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-5%);
    animation: wave 3s ease-in-out infinite;
    animation-delay: 0.4s;
    transition: opacity 0.25s var(--transition-type);
}

div#cont-back
{
    background-image: url("./ressources/background_blur.png");
    background-size: cover;
    height: fit-content;
    min-height: inherit;
    width: 100vw;
}

div#content
{
    text-align: center;
    min-height: 75vh;
    width: 100vw;
    display: flexbox;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: opacity 0.25s var(--transition-type);
}

div#footer
{
    margin-top: 80px;
    background: var(--gradient);
    width: fit-content;
    height: fit-content;
    padding: 2px 5px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0px 0px 10px var(--shadows);
}

p#footer
{
    font-family: "Perso";
    font-size: 12px;
    color: var(--color-main-darker);
    display: block;
    padding: 0px;
    margin: 2px;
    user-select: none;
    -moz-user-select: none;
}