/* width */
::-webkit-scrollbar {
    width: 0px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    margin: 0px;
    padding-top: 75px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

div#header {
    width: 100vw;
    height: 75px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 5px;
    position: fixed;
    transform: translateY(-80px);
}

div#home {
    height: 75px;
    width: 220px;
    margin-right: 30px;
    display: inline-block;
}

img#home {
    height: 55px;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 80px;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

h2#button {
    margin: 30px 30px;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0px;
    transform: translateY(-15px);
    display: inline-block;
    cursor: pointer;
    transition: color 200ms ease-in-out;
}

div#content {
    margin-left: 10vw;
    width: 75vw;
    min-height: 100vh;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    text-align: center;
}